@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: #f3c75a;
}

:root {
  background-color: #f0f0f0;
}
.scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #ff8855;
  border-radius: 5px;
}

.mySwiper {
  /* margin-top: 20px; */
  padding: 0 35px 35px 35px;
}

.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  /* left: -30px; */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.5;
  background-color: #f0f0f4;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 25%);
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
}

.swiper-button-next {
  background-image: url('/src/assets/ic_caret_nav.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  transform: rotate(180deg);
  background-image: url('/src/assets/ic_caret_nav.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #253341; */
  -webkit-text-fill-color: rgb(66, 66, 66);
  -webkit-box-shadow: 0 0 0px 1000px #f0f0f0 inset;
  box-shadow: 0 0 0px 1000px #f0f0f0 inset;
  /* transition: background-color 5000s ease-in-out 0s;
  color: white; */
}

/* Markdown css */
.md_description {
  overflow-y: auto !important;
  padding: 10px 0 !important;
}

.rc-md-editor {
  border: none !important;
}

.rc-md-navigation {
  background: #fff !important;
  border: none !important;
  padding: 0 !important;
}
.rc-md-editor .editor-container > .section {
  border: none !important;
}

.button-type-emoji-picker {
  position: relative;
}

.button-type-emoji-picker .emoji-list {
  position: absolute;
  width: 190px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: white;
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  left: 0;
  top: 28px;
  z-index: 2;
  /* min-width: 20px; */
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
}

.emoji-list .emoji {
  padding: 1px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  width: 30px;
}

.emoji-list .emoji:hover {
  background-color: #dfdfdf;
}

@layer components {
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-black bg-gray-100
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .bottom-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max bottom-14 rounded-md shadow-md
    text-black bg-gray-100
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-center;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: 'Lobster';
  src: url('/fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: url('/fonts/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('/fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('/fonts/Inter-Black.ttf') format('truetype');
}

.calc-width {
  width: calc(100% - (332px));
}

@layer components {
  .btn-view {
    @apply border-2 border-orange-400 bg-orange-400 text-white font-bold px-4 py-2 rounded-3xl text-lg font-inter cursor-pointer;
  }
  .btn-card {
    @apply border-2 border-orange-400 bg-orange-400 text-white font-bold px-4 py-2 rounded-3xl text-lg font-inter cursor-pointer;
  }
  .btn-order {
    @apply border-2 border-redError bg-redError text-white font-bold px-4 py-2 rounded-3xl text-lg font-inter cursor-pointer;
  }
  .card {
    @apply bg-foodCard rounded-md shadow-md shadow-gray-400 relative;
  }
  .tag {
    @apply border-2  text-lightText font-bold px-2 py-1 rounded-3xl text-sm font-inter;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
